body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 0 auto;
  min-width: 600px;
}

/* Title */
.title {
  text-align: center;
  font-size: 28px;
  margin: 5vh;
}
.title div {
  margin: 10px 0;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}


/* Status bar */
.status {
  margin-bottom: 10px;
}
ol, ul {
  padding-left: 30px;
  
}
#root {
  text-align: center;
  margin: auto;
}

/* Table */
.square {
  height: 15vh;
  width: 15vw;
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 15vh;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;

}
.square:focus {
  outline: none;
}
.kbd-navigation .square:focus {
  background: #ddd;
}
.game {
  display: flex;
  flex-direction: row;
}
.game-info {
  margin-left: 50px;

}
